src/test/java/my/api/rest/test/suggestionFio.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://suggestions.hflabs.ru/model/4_1/fio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="surname" type="xs:string"/>
    <xs:element name="name" type="xs:string"/>
    <xs:element name="patronymic" type="xs:string"/>
    <xs:element name="gender" type="xs:string"/>
</xs:schema>